<div  *transloco="let t">
<mat-dialog-content>
  <p mat-dialog-title>{{user.username}}</p>

  <mat-form-field appearance="outline" class="m-1">

    <mat-label>ID</mat-label>
    <input #inputTitle
           matInput
           [(ngModel)]="user.userId"
    [disabled]="true">
  </mat-form-field>

  <mat-form-field appearance="outline" class="m-1">

    <mat-label>{{t('username')}}</mat-label>
    <input #inputTitle
           matInput
           [required]="true"
           [(ngModel)]="newUsername"

           (keydown.enter)="confirm()">

    <button class="btn"
      *ngIf="newUsername && newUsername.trim().length > 0"

      mat-button matSuffix

      (click)="newUsername= ''">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
    </button>

  </mat-form-field>

  <mat-form-field appearance="outline" class="m-1">

    <mat-label>{{t('name')}}</mat-label>
    <!-- если задача завершена - контрол не будет доступен -->
    <input #inputTitle
           matInput

           [(ngModel)]="newName"

           (keydown.enter)="confirm()"> <!-- по нажатию на enter можем сразу сохранить задачу -->

    <button class="btn"
            *ngIf="newName && newName.trim().length > 0"

            mat-button matSuffix

            (click)="newName= ''">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
    </button>

  </mat-form-field>

  <mat-form-field appearance="outline" class="m-1">

    <mat-label>{{t('surname')}}</mat-label>
    <!-- если задача завершена - контрол не будет доступен -->
    <input #inputTitle
           matInput

           [(ngModel)]="newSurname"

           (keydown.enter)="confirm()"> <!-- по нажатию на enter можем сразу сохранить задачу -->

    <button class="btn"
            *ngIf="newSurname && newSurname.trim().length > 0"

            mat-button matSuffix

            (click)="newSurname= ''">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
    </button>

  </mat-form-field>

  <mat-form-field appearance="outline" class="m-1">

    <mat-label>{{t('phone')}}</mat-label>
    <!-- если задача завершена - контрол не будет доступен -->
    <input #inputTitle
           matInput

           [(ngModel)]="newPhone"

           (keydown.enter)="confirm()"> <!-- по нажатию на enter можем сразу сохранить задачу -->

    <button class="btn"
            *ngIf="newPhone && newPhone.trim().length > 0"

            mat-button matSuffix

            (click)="newPhone= ''">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
    </button>

  </mat-form-field>

  <mat-form-field appearance="outline" class="m-1">

    <mat-label>{{t('email')}}</mat-label>
    <input #inputTitle
           matInput
           required

           [(ngModel)]="newEmail"

           (keydown.enter)="confirm()">

    <button class="btn"
            *ngIf="newEmail && newEmail.trim().length > 0"

            mat-button matSuffix

            (click)="newEmail= ''">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
    </button>

  </mat-form-field>

  <mat-form-field appearance="outline" class="m-1">
    <mat-label>{{t('role')}}</mat-label>
    <mat-select [(ngModel)]="newRole">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{role}}
      </mat-option>
    </mat-select>

  </mat-form-field>

<mat-checkbox color="primary"
  (click)="$event.stopPropagation()"
              [(ngModel)]="newEnabled">
  <mat-label>{{t('enabled')}}</mat-label>

</mat-checkbox>

  <mat-form-field appearance="outline" class="m-1">

    <mat-label>{{t('registration date')}}</mat-label>
    <input #inputTitle
           matInput
           [disabled]="true"
           [(ngModel)]="user.regDate">

  </mat-form-field>

</mat-dialog-content>


<mat-dialog-actions>


  <div class="col-md-5 col-12" >

    <button type="button" class="btn btn-outline-dark"
      mat-raised-button color="primary"
            [disabled] = "newUsername.trim().length === 0 || newEmail.trim().length === 0"
      (click)="confirm()">
      {{t('save')}}
    </button>


  </div>

</mat-dialog-actions>
</div>
