<table mat-table [dataSource]="userDataSource" class="table">
  <thead class="table-dark">
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>User ID</th>
    <td mat-cell *matCellDef="let user"> {{user.userId}} </td>
  </ng-container>

  <ng-container matColumnDef="userPic">
    <th mat-header-cell *matHeaderCellDef>UserPic</th>
    <td mat-cell *matCellDef="let user"> {{user.userPic}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Surname</th>
    <td mat-cell *matCellDef="let user"> {{user.surname}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let user"> {{user.role}} </td>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <th mat-header-cell *matHeaderCellDef>Enabled</th>
    <td mat-cell *matCellDef="let user">
      <mat-checkbox color="primary"

        (click)="$event.stopPropagation()"

        (change)="$event ? toggleEnabled(user) : null"

        [checked]="user.enabled"
      >

      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="regDate">
    <th mat-header-cell *matHeaderCellDef>Reg Date</th>
    <td mat-cell *matCellDef="let user"> {{user.regDate}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let user"> {{user.regDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
  </thead>
</table>
