<div *transloco="let t">
  <div class="text-center font-weight-bold"><h1>{{cocktailName}}</h1></div>

  <div class="container mt-5" >
    <div class="row">
      <div class="col-6">
        <h3>{{t('ingredients')}}</h3>
        <li *ngFor="let recipe of recipes">
          {{recipe.ingredient.ingredientName}} - {{recipe.quantity}} {{t(recipe.ingredient.unitOfMeasurement)}}
        </li>
        {{t('Approx. alcohol')}}{{cocktail.approxAlcoholPercentage}}%
        <br>
        <br>
        <h3>{{t('recipe')}}</h3>
        {{cocktail.cocktailRecipe}}
      </div>
      <div class="col-6">
        <img src="data:image/png;base64,{{image.bytes}}" class="mx-auto d-block img" alt="logo"/>
      </div>
    </div>
  </div>

  <div class="p-5 bg-white text-black-50">
    {{t('author')}}{{cocktail.cocktailAuthor.username}}
    <br>
    {{t('publication date')}} {{cocktail.publicationDate}}
  </div>
  <div class="container ml-5 mr-5">
  </div>
    <div class="text-center" *ngIf="isUserLoggedIn">
      <h3>Rate</h3>
    </div>
    <div class="rating text-center" *ngIf="isUserLoggedIn">
      <input hidden [value]="vote" curs>
      <input type="submit" name="rating" (click)="onRate(5)" id="5" value="5" class="ml-1">
      <label for="5">☆</label>
      <input type="submit" name="rating" (click)="onRate(4)" id="4" value="4">
      <label for="4">☆</label>
      <input type="submit" name="rating" (click)="onRate(3)" id="3" value="3">
      <label for="3">☆</label>
      <input type="submit" name="rating" (click)="onRate(2)" id="2" value="2">
      <label for="2">☆</label>
      <input type="submit" name="rating" (click)="onRate(1)" id="1" value="1">
      <label for="1">☆</label>
    </div>
    <div class="text-center mb-5">
      Rating - {{cocktail.cocktailRating}} (Votes : {{voteCount}})
    </div>
</div>
