<div *transloco="let t">
  <div class="text-center font-weight-bold"><h1>{{cocktailName}}</h1></div>

  <div class="container mt-5" >
    <div class="row">
      <div class="col-6">
        <h3>{{t('ingredients')}}</h3>
        <li *ngFor="let recipe of recipes">
          {{recipe.ingredient.ingredientName}} - {{recipe.quantity}} {{t(recipe.ingredient.unitOfMeasurement)}}
        </li>
        {{t('Approx. alcohol')}}{{cocktail.approxAlcoholPercentage}}%
        <br>
        <br>
        <h3>{{t('recipe')}}</h3>
        {{cocktail.cocktailRecipe}}
      </div>
      <div class="col-6">
        <img src="data:image/png;base64,{{image.bytes}}" class="mx-auto d-block img" alt="logo"/>
      </div>
    </div>
  </div>

  <div class="p-5 bg-white text-black-50">
    {{t('author')}}{{cocktail.cocktailAuthor.username}}
    <br>
    {{t('publication date')}} {{cocktail.publicationDate}}
  </div>
  <div class="container ml-5 mr-5">
  </div>
    <div class="text-center" *ngIf="isUserLoggedIn">
      <h3>Rate</h3>
    </div>
    <div class="text-center">
      <star-rating [readOnly]="!isUserLoggedIn || this.tokenStorage.getUser() == null && !this.tokenStorage.getUser().enabled"
                   [hoverEnabled]="true" (starClickChange)="onRate($event)"
                   [rating]="vote.voteValue != 0 ? vote.voteValue : cocktail.cocktailRating"
                   [showHalfStars]="true">
      </star-rating>
    </div>
    <div class="text-center mb-5">
      Rating - {{cocktail.cocktailRating}} (Votes : {{voteCount == null ? 0 : voteCount}})
    </div>
</div>
