<div class="text-center font-weight-bold" *transloco="let t"><h1>{{t('cocktails')}}</h1></div>
<div class="d-flex flex-wrap">
     <div class="flex-lg-grow-0 m-3" *ngFor="let cocktail of cocktails; let i=index">
      <div class="post">
        <div class="bg-image hover-zoom">
          <a class="post-img" [routerLink] = "['/cocktails/cocktail/' + cocktail.cocktailId]">
            <img src="data:image/png;base64,{{cocktail.cocktailImage.bytes}}" width="423" height="255"
                 [routerLink] = "['/cocktails/cocktail/' + cocktail.cocktailId]"/>
            <div class="text-block">
              <h4><a type="submit" style="color:white"
                     [routerLink] = "['/cocktails/cocktail/' + cocktail.cocktailId]">
                {{cocktail.cocktailName}}
              </a></h4>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>

<mat-paginator *ngIf="totalCocktailsFounded > 6" (page)="pageChanged($event)" [pageIndex]="pagination.pageNumber"
               [pageSize]="pagination.pageSize" [length]="totalCocktailsFounded"
               [pageSizeOptions]="[6, 12, 24]" showFirstLastButtons></mat-paginator>
