<form [formGroup]="userProfileForm" *transloco="let t">
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <span class="font-weight-bold">
            {{username}}
          </span>
            <img *ngIf="!newImageId && !imageSrc" class="rounded-circle" width="150px"
                 src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
            <img *ngIf="!imageSrc && newImageId" class="rounded-circle" width="150px"
                 [src]="this.imageService.getImage(newImageId)">
          <img class="rounded-circle" width="150px" [src]="imageSrc" *ngIf="imageSrc">

          <br>

          <input
            formControlName="userImageFile"
            id="file"
            type="file"
            name="image"
            class="form-control"
            (change)="onFileChange($event)">

          <span class="text-black-50">
<!--            <c:out value="${user.getEmail()}"/>-->
          </span>
          </div>
      </div>
      <div class="col-md-5 card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="p-3 py-5">
            <div class="d-flex text-center mb-3">
              <h4>
                {{t('profile')}}
              </h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <label class="labels">
                  {{t('name')}}:
                </label>
                  <input type="text" name="name" formControlName="userName" class="form-control" [(ngModel)]="newName">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels">
                  {{t('surname')}}
                  :</label>
                  <input type="text" name="surname" formControlName="userSurname" class="form-control"  [(ngModel)]="newSurname"/>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels">
                  {{t('phone')}}
                  :</label>
                  <input type="text" name="phone" formControlName="userPhone" class="form-control"  [(ngModel)]="newPhone">
              </div>
            </div>
            <div class="mt-5 text-center">
              <button class="btn btn-dark profile-button" (click)="onSave()" type="submit">
                {{t('save')}}
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</form>
