<footer class="footer-07">
  <div class="container">
    <div class="col-md-12 text-center">
      <h2 class="footer-heading">
        <a href="/controller?command=to_main" class="logo">BAR.com</a></h2>
      <p class="menu">
        <a href="/controller?command=to_main">Home</a>
        <a href="/controller?command=to_cocktails">Cocktails</a>
        <a href="/controller?command=to_about">About</a>
        <a href="/controller?command=to_contact">Contact</a>
      </p>
    </div>
  </div>
</footer>
