<footer class="footer-07">
  <div class="container">
    <div class="col-md-12 text-center" *transloco="let t">
      <h2 class="footer-heading">
        <a [routerLink]="['']" class="logo">BAR.com</a></h2>
      <p class="menu">
        <a [routerLink]="['']">{{t('home')}}</a>
        <a [routerLink]="['/cocktails']">{{t('cocktails')}}</a>
        <a [routerLink]="['/about']">{{t('about')}}</a>
        <a [routerLink]="['/contact']">{{t('contact')}}</a>
      </p>
    </div>
  </div>
</footer>
