<div class="container mt-5 mb-5">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
               <picture>
          <img class="img-carousel"
               sizes="(max-width: 1920px) 100vw, 1920px"
               srcset="assets/1,w_200.webp 200w,
                       assets/1,w_639.webp 639w,
                       assets/1,w_902.webp 902w,
                       assets/1,w_1148.webp 1148w,
                       assets/1,w_1296.webp 1296w,
                       assets/1,w_1920.webp 1920w"

            alt="Los Angeles" width="1296"
               height="454">
        </picture>
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>We had such a great time in LA!</p>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <img class="img-carousel"
            sizes="(max-width: 1920px) 100vw, 1920px"
            srcset="assets/2,w_200.webp 200w,
                    assets/2,w_639.webp 639w,
                    assets/2,w_902.webp 902w,
                    assets/2,w_1148.webp 1148w,
                    assets/2,w_1296.webp 1296w,
                    assets/2,w_1920.webp 1920w"

            alt="Chicago" width="1296"
               height="454">
        </picture>
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <img class="img-carousel"
            sizes="(max-width: 1920px) 100vw, 1920px"
            srcset="assets/3,w_200.webp 200w,
                    assets/3,w_639.webp 639w,
                    assets/3,w_902.webp 902w,
                    assets/3,w_1148.webp 1148w,
                    assets/3,w_1296.webp 1296w,
                    assets/3,w_1920.webp 1920w"

            alt="New York" width="1296"
               height="454">
        </picture>
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <img class="img-carousel"
            sizes="(max-width: 1920px) 100vw, 1920px"
            srcset="assets/4,w_200.webp 200w,
                    assets/4,w_639.webp 639w,
                    assets/4,w_902.webp 902w,
                    assets/4,w_1148.webp 1148w,
                    assets/4,w_1296.webp 1296w,
                    assets/4,w_1920.webp 1920w"

            alt="New York" width="1296"
               height="454">
        </picture>
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <img class="img-carousel"
            sizes="(max-width: 1920px) 100vw, 1920px"
            srcset="assets/5,w_200.webp 200w,
                    assets/5,w_639.webp 639w,
                    assets/5,w_902.webp 902w,
                    assets/5,w_1148.webp 1148w,
                    assets/5,w_1296.webp 1296w,
                    assets/5,w_1920.webp 1920w"

            alt="New York" width="1296"
               height="454">
        </picture>        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" aria-label="Carousel previous" type="button" data-bs-target="#demo" data-bs-slide="prev" id="carousel-prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" aria-label="Carousel next" type="button" data-bs-target="#demo" data-bs-slide="next" id="carousel-next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
<div class="container-fluid text-center" *transloco="let t">
  <h2>{{t('new cocktails')}}</h2>
</div>

<div class="line">
  <div class="m-3" *ngFor="let cocktail of cocktails; ">
    <div class="post">
      <div class="bg-cocktailImage hover-zoom container-img">
        <a class="post-img" [routerLink]="['/cocktails/cocktail/' + cocktail.cocktailId]">
          <img ngSrc="{{cocktail.cocktailImage}}" width="423" height="255"
               [routerLink]="['/cocktails/cocktail/' + cocktail.cocktailId]" [alt]="cocktail.cocktailName"/>
          <div class="text-block">
            <div style="font-size: 20px"><a style="color:white"
                   [routerLink]="['/cocktails/cocktail/' + cocktail.cocktailId]">
              {{cocktail.cocktailName}}
            </a></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
