<!--<c:if test="${not empty message}">-->
<!--  <div class="alert alert-danger alert-dismissible">-->
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>-->
<!--    <strong>Error!</strong>-->
<!--    <c:out value="${message}"/>-->
<!--  </div>-->
<!--</c:if>-->

<div class="container mt-5 mb-5">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="'http://localhost:8080/image/1'" alt="Los Angeles" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>We had such a great time in LA!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img [src]="'http://localhost:8080/image/2'" alt="Chicago" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img [src]="'http://localhost:8080/image/3'" alt="New York" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img [src]="'http://localhost:8080/image/4'" alt="New York" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img [src]="'http://localhost:8080/image/5'" alt="New York" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
<div class="container-fluid" *transloco="let t">
    <h2>{{t('new cocktails')}}</h2>
</div>

<div class="d-flex flex-wrap mb-4 ml-2" *ngFor="let cocktail of cocktails; ">

  <div class="flex-lg-grow-0 m-3">
    <div class="post">
      <div class="bg-image hover-zoom container-img">
        <a class="post-img" [routerLink] = "['/cocktails/cocktail/' + cocktail.cocktailId]">
                      <img [src]="this.imageService.getImage(this.cocktail.cocktailImage.imageId)" width="420"
                           [routerLink] = "['/cocktails/cocktail/' + cocktail.cocktailId]"/>
          <div class="text-block">
            <h4><a style="color:white" [routerLink] = "['/cocktails/cocktail/' + cocktail.cocktailId]">
              {{cocktail.cocktailName}}
            </a></h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
