<div *transloco="let t">
  <div class="offcanvas offcanvas-end" id="signin">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
              id="close_sign_in"></button>
    </div>
    <div class="offcanvas-body">

      <div class="tab-content">
        <div #signInTab class="tab-pane in active">
          <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            {{t('username or email')}}:
            <div>
              <input class="form-control me-2" name="username" [(ngModel)]="signInForm.username"
                     required #username="ngModel" [placeholder]="t('username')" size="10">
              <div
                class="alert alert-danger mt-2"
                role="alert"
                *ngIf="username.errors && f.submitted">
                {{t('username is required')}}
              </div>
            </div>
            <br>
            {{t('password')}}:
            <div>
              <input class="form-control me-2" type="password" name="pwd"
                     [placeholder]="t('password')"
                     [(ngModel)]="signInForm.password" required minlength="6" #password="ngModel"/>
              <div
                class="alert alert-danger mt-2"
                role="alert"
                *ngIf="password.errors && f.submitted"
              >
                <div *ngIf="password.errors.required">
                  {{t('password is required')}}
                </div>
                <div *ngIf="password.errors.minlength">
                  {{t('password must be at least 6 characters')}}
                </div>
              </div>
            </div>
            <br>
            <div>
              <p class="text-center">
                <button class="btn btn-outline-dark me-2" name="command" value="sign_in"
                        type="submit">
                  {{t('sign in')}}
                </button>
                <button class="btn btn-outline-dark" type="button" (click)="changeTabToForgetPassword()">
                  {{t('forgot password')}}
                </button>
              </p>
            </div>
            <div class="form-group">
              <div
                class="alert alert-danger mt-2"
                role="alert"
                *ngIf="f.submitted && isLoginFailed">
                {{t('login failed')}}: {{ errorMessage }}
              </div>
            </div>
          </form>
          <form>
            <p class="text-center">
              {{t('not registered')}}
            </p>
            <p class="text-center">
              <button type="submit" class="btn btn-link btn-sm"
                      [routerLink]="['/register']" data-bs-dismiss="offcanvas">
                {{t('sign up here')}}
              </button>
            </p>
          </form>
        </div>

        <div #recoverPasswordTab class="tab-pane fade">
          <form (ngSubmit)="f.form.valid && onRecoverPassword()" #a="ngForm" novalidate>
            {{t('email')}}:
            <div>
              <input class="form-control me-2" name="email" [(ngModel)]="recoverPasswordForm.email"
                     required #email="ngModel" [placeholder]="t('email')" size="10">
              <div
                class="alert alert-danger mt-2"
                role="alert"
                *ngIf="email.errors && a.submitted">
                {{t('email is required')}}
              </div>
              <div
                class="alert alert-danger mt-2"
                role="alert"
                *ngIf="!isEmailFound && a.submitted">
                {{t('email not found')}}
              </div>
            </div>
            <br>
            <div>
              <p class="text-center">
                <button class="btn btn-outline-dark me-2" name="command" value="sign_in"
                        type="button" (click)="toSignInTab()">
                  {{t('to sign in')}}
                </button>
                <button class="btn btn-outline-dark" name="command" type="submit"
                        (click)="onRecoverPassword()">
                  {{t('send email')}}
                </button>
              </p>
            </div>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isLoginFailed">
                {{t('login failed')}}: {{ errorMessage }}
              </div>
            </div>
          </form>
          <form>
            <p class="text-center">
              {{t('not registered')}}
            </p>
            <p class="text-center">
              <button type="submit" class="btn btn-link btn-sm"
                      [routerLink]="['/register']" data-bs-dismiss="offcanvas">
                {{t('sign up here')}}
              </button>
            </p>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <a [routerLink]="['']" class="logo">
      <picture>
                <img class="mx-auto d-block"
          sizes="(max-width: 600px) 45px, (min-width: 601px) 60px"
          srcset="assets/icon,w_45.webp.webp 45w,
                    assets/icon,w_60.webp 60w"
          src="icon,w_90.webp"
          alt="logo">
      </picture>
    </a>
  </div>

  <div class="row" *ngIf="isLoggedIn">
    <li>{{t('hi, ')}}
      <button class="btn btn-link btn-sm" [routerLink]="['/profile']">
        {{targetUsername}}
      </button>
  </div>
  <br>

  <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top" *transloco="let t">
    <div class="container-fluid">
      <input type="hidden" name="command" value="to_main"/>
      <a [routerLink]="['']" class="navbar-brand">BAR.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cocktails']">{{t('cocktails')}}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" [routerLink]="['/about']">{{t('about')}}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" [routerLink]="['/contact']">{{t('contact')}}</a>
          </li>
        </ul>
        <button type="button" *ngIf="role === 'ROLE_ADMIN'" class="btn btn-dark me-3"
                [routerLink]="['/admin']">
          {{t('admin')}}
        </button>
        <button type="button" *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_BARTENDER'"
                class="btn btn-dark me-3"
                [routerLink]="['/cocktails/add']">
          {{t('add cocktail')}}
        </button>
        <div class="dropdown">
          <button type="button" class="btn btn-dark me-3 dropdown-toggle" data-bs-toggle="dropdown">
            {{siteLanguage}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" type="submit" name="language"
                    value="en_US" (click)="changeSiteLanguage('en')">English
            </button>
            <button class="dropdown-item" type="submit" name="language"
                    value="ru_RU" (click)="changeSiteLanguage('ru')">Русский
            </button>
            <input type="hidden" name="command" value="set_locale">
          </ul>
        </div>
        <button *ngIf="!isLoggedIn" class="btn btn-dark me-3" type="button" data-bs-target="#signin"
                data-bs-toggle="offcanvas">
          {{t('sign in')}}
        </button>
        <button *ngIf="isLoggedIn" class="btn btn-dark me-3" type="button" (click)="logout()"
                data-bs-toggle="offcanvas">
          {{t('logout')}}
        </button>

      </div>
    </div>
  </nav>
  <div *ngIf="newNotification" class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="closeAlert()"></button>
    <strong>Hey!</strong> {{notification.message}}, you can check it
    <a href="http://localhost:4200/cocktails/cocktail/{{notification.cocktailId}}">here</a>
  </div>
</div>
